{% extends 'index.html' %}

{% block title %}
    Upcoming Trips
{% endblock %}

{% block start %}

    <style>
        .content-header {
            font-family: 'poppins', sans-serif;
            color: wheat;
        }

        .table {
            font-family: 'poppins', sans-serif;
        }

        .trip-body {
            display: none;
        }

        .trip-body.active {
            display: table-row;
        }

        .trip-body-content div {
            height: 2rem;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .trip-body-content p {
            margin-bottom: 0;
        }

        .trip-body-content div i {
            text-decoration: none;
            color: #000;
            height: 1rem;
            width: 1rem;
        }

        .trip-body-content div a {
            height: 2rem;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .trip-body-content div a i {
            text-decoration: none;
            color: #000;
            height: 1rem;
            width: 1rem;
        }
    </style>

    {% if request.user.department.name|lower != "transport" %}
        <div class="container-fluid">
            <div class="content-header mb-3">
                <h3 class="mb-0 fw-bold">Upcoming Trips</h3>
                <p class="mb-0 text-light">list of upcoming trips</p>
            </div>
    <!--Paginator-->
            <nav class="mb-3">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <!--Paginator-->
            <!--Desktop view-->
            <div class="content-body d-none d-md-flex">
                <div class="table-responsive w-100">
                    <table class="table table-bordered">
                        <thead class="table-danger">
                            <tr>
                                <th scope="col">Booking ID</th>
                                <th scope="col">Type</th>
                                <th scope="col">Pickup Location</th>
                                <th scope="col">Drop Location</th>
                                <th scope="col">Vehicle</th>
                                <th scope="col">Driver</th>
                                <th scope="col">Phone No.</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody class="table-info">
                            {% if page_obj %}
                                {% for trip in page_obj %}
                                    <tr>
                                        <td>{{ trip.id }}</td>
                                        <td>{{ trip.booking_type }}</td>
                                        <td>{{ trip.pickup_location }}</td>
                                        <td>{{ trip.drop_location }}</td>
                                        <td>{{ trip.vehicle.vehicle_number|default:"-" }}</td>
                                        <td>{{ trip.driver.user.username|default:"-" }}</td>
                                        <td>{{ trip.driver.user.phone_number|default:"-" }}</td>
                                        <td>{{ trip.status}}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="100%">No upcoming trips found.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Mobile view-->
            <div class="content-body d-md-none">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-danger">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Pickup</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody class="table-info">
                            {% if page_obj %}
                                {% for trip in page_obj %}
                                    <tr
                                        class="trip-summary-row"
                                        onclick="toggleTrip(this)"
                                    >
                                        <td>{{ trip.id }}</td>
                                        <td>{{ trip.pickup_location }}</td>
                                        <td><i class="fa-solid fa-plus"></i></td>
                                    </tr>
                                    <tr class="trip-body">
                                        <td colspan="4">
                                            <div class="trip-body-content">
                                                <div>
                                                    <i class="fa-solid fa-circle-check"></i>
                                                    <p>{{ trip.status}}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-exclamation"></i>
                                                    <p>{{ trip.booking_type }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-location-dot"></i>
                                                    <p>{{ trip.drop_location }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-car-rear"></i>
                                                    <p>{{ trip.vehicle.vehicle_number|default:"-" }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-regular fa-user"></i>
                                                    <p>{{ trip.driver.user.username }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-phone"></i>
                                                    <p>{{ trip.driver.user.phone_number|default:"-" }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-regular fa-clock"></i>
                                                    <p>{{ trip.pickup_time }}</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="100%">No Bookings</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="content-header mb-3">
                <h3 class="mb-0 fw-bold">Upcoming Trips</h3>
                <p class="mb-0 text-light">list of upcoming trips</p>
            </div>
            <!--Paginator-->
            <nav class="mb-3">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <!--Paginator-->
            <!--Desktop view-->
            <div class="content-body d-none d-md-flex">
                <div class="table-responsive w-100">
                    <table class="table table-bordered">
                        <thead class="table-danger">
                            <tr>
                                <th>Booking ID</th>
                                <th>Type</th>
                                <th>Pickup Location</th>
                                <th>Drop Location</th>
                                <th>Vehicle</th>
                                <th>Driver</th>
                                <th>Phone No.</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody class="table-info">
                            {% if page_obj %}
                                {% for trip in page_obj %}
                                    <tr>
                                        <td>{{ trip.id }}</td>
                                        <td>{{ trip.booking_type }}</td>
                                        <td>{{ trip.pickup_location }}</td>
                                        <td>{{ trip.drop_location }}</td>
                                        <td>{{ trip.vehicle.vehicle_number|default:"-" }}</td>
                                        <td>{{ trip.driver.user.username|default:"-" }}</td>
                                        <td>{{ trip.driver.user.phone_number|default:"-" }}</td>
                                        {% if trip.status == 'CONFIRMED' %}
                                            <td
                                                style="
                                                       display: flex;
                                                       align-items: center;
                                                      "
                                            >
                                                <form method="POST" action="{% url 'vms:staff_update_booking_status' trip.id %}">
                                                    {% csrf_token %}
                                                    <select name="status" class="statusSelect" data-service-id="{{ trip.id }}" required>
                                                        <option value="">select</option>
                                                        <option value="ACKNOWLEDGE" {% if service.status == 'ACKNOWLEDGE' %} selected {% endif %}>Acknowledge</option>
                                                    </select>
                                                    <button class="btn btn-sm btn-primary" type="submit">Update</button>
                                                </form>
                                            </td>
                                        {% else %}
                                            <td>{{ trip.status }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="100%">No upcoming trips found.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Mobile view-->
            <div class="content-body d-md-none">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-danger">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Pickup</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Detail</th>
                            </tr>
                        </thead>
                        <tbody class="table-info">
                            {% if page_obj %}
                                {% for trip in page_obj %}
                                    <tr
                                        class="trip-summary-row"
                                        onclick="toggleTrip(this)"
                                    >
                                        <td>{{ trip.id }}</td>
                                        <td>{{ trip.pickup_location }}</td>
                                        <td>{{ trip.booked_by.username }}</td>
                                        <td><i class="fa-solid fa-plus"></i></td>
                                    </tr>
                                    <tr class="trip-body">
                                        <td colspan="4">
                                            <div class="trip-body-content">
                                                <div>
                                                    <i class="fa-solid fa-circle-check"></i>
                                                    <p>{{ trip.status}}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-exclamation"></i>
                                                    <p>{{ trip.booking_type }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-location-dot"></i>
                                                    <p>{{ trip.drop_location }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-car-rear"></i>
                                                    <p>{{ trip.vehicle.vehicle_number|default:"-" }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-regular fa-user"></i>
                                                    <p>{{ trip.driver.user.username }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-phone"></i>
                                                    <p>{{ trip.driver.user.phone_number|default:"-" }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-regular fa-clock"></i>
                                                    <p>{{ trip.pickup_time }}</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="100%">No Bookings</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

    <script>
        function toggleTrip(element) {
            const body = element.nextElementSibling;
            body.classList.toggle("active");

            const icon = element.querySelector("i");
            if (body.classList.contains("active")) {
                icon.classList.remove("fa-plus");
                icon.classList.add("fa-minus");
            } else {
                icon.classList.remove("fa-minus");
                icon.classList.add("fa-plus");
            }
        }
    </script>
{% endblock %}