{% extends 'index.html' %}

{% block title %}
    Cab Request
{% endblock %}

{% block start %}

    <style>
        .content-header {
            color: wheat;
            font-family: 'poppins', sans-serif;
        }

        .table {
            font-family: 'poppins', sans-serif;
        }

        .request-body {
            display: none;
        }

        .request-body.active {
            display: table-row;
        }

        .request-body-content div {
            height: 2rem;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .request-body-content p {
            margin-bottom: 0;
        }

        .request-body-content div i {
            text-decoration: none;
            color: #000;
            height: 1rem;
            width: 1rem;
        }

        .request-body-content div a {
            height: 2rem;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .request-body-content div a i {
            text-decoration: none;
            color: #000;
            height: 1rem;
            width: 1rem;
        }

        .request-body-content form {
            height: auto;
        }

        .status-waiting > td   { background-color: #ffc107; color: #000; }
        .status-acknowledged > td      { background-color: #0d6efd; color: #fff; }
        .status-confirmed > td  { background-color: #17a2b8; color: #fff; }
        .status-progress > td    { background-color: #6f42c1; color: #fff; }
        .status-completed > td  { background-color: #198754; color: #fff; }
        .status-cancelled > td { background-color: #fd7e14; color: #fff; }
    </style>

    {% if request.user.department.name|lower != "transport" %}
        <div class="container-fluid">
            <div class="content-header mb-3">
                <h3 class="mb-0">All Trips</h3>
                <p class="mb-0 text-light">List of all trips</p>
            </div>
            <!--Paginator-->
            <nav class="mb-3">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <!--Paginator-->
            <!--Desktop view-->
            <div class="content-body d-none d-md-flex">
                <div class="table-responsive w-100">
                    <table class="table table-bordered">
                        <thead class="table-danger">
                            <tr>
                                <th scope="col">Booking ID</th>
                                <th scope="col">Type</th>
                                <th scope="col">Pickup</th>
                                <th scope="col">Drop</th>
                                <th scope="col">Cargo</th>
                                <th scope="col">Vehicle</th>
                                <th scope="col">Driver</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if page_obj %}
                                {% for request in page_obj %}
                                    <tr
                                    class="
                                    {% if request.status == 'WAITING' %}
                                        status-waiting
                                    {% elif request.status == 'ACKNOWLEDGED' %}
                                        status-acknowledged
                                    {% elif request.status == 'IN PROGRESS' %}
                                        status-progress
                                    {% elif request.status == 'CONFIRMED' %}
                                        status-confirmed
                                    {% elif request.status == 'COMPLETED' %}
                                        status-completed
                                    {% elif request.status == 'CANCELLED' %}
                                        status-cancelled
                                    {% endif %}
                                    "
                                >
                                        <td>{{ request.id }}</td>
                                        <td>{{ request.booking_type }}</td>
                                        <td>{{ request.pickup_location }}</td>
                                        <td>{{ request.drop_location }}</td>
                                        <td>{{ request.cargo }}</td>
                                        <td>{{ request.vehicle }}</td>
                                        <td>{{ request.driver }}</td>
                                        <td>{{ request.status }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="100%">No requests available</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Mobile view-->
            <div class="content-body d-md-none">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-danger">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody class="table-info">
                            {% if page_obj %}
                                {% for request in page_obj %}
                                    <tr
                                        class="request-summary-row"
                                        onclick="toggleRequest(this)"
                                    >
                                        <td>{{request.id}}</td>
                                        <td>{{request.status}}</td>
                                        <td><i class="fa-solid fa-plus"></i></td>
                                    </tr>
                                    <tr class="request-body">
                                        <td colspan="4">
                                            <div class="request-body-content">
                                                <div>
                                                    <i class="fa-solid fa-user"></i>
                                                    <p>{{ request.driver.user.username|default:"NA" }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-exclamation"></i>
                                                    <p>{{ request.booking_type|default:"NA" }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-location-dot"></i>
                                                    <p>{{ request.pickup_location|default:"NA" }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-location-dot"></i>
                                                    <p>{{ request.drop_location|default:"NA" }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-box"></i>
                                                    <p>{{ request.cargo|default:"NA" }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-car"></i>
                                                    <p>{{ request.vehicle|default:"NA" }}</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="100%">No Bookings</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="content-header mb-3">
                <h3 class="mb-0">Cab Request</h3>
                <p class="mb-0 text-light">all requested cab service</p>
            </div>
            <!--Paginator-->
            <nav class="mb-3">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <!--Paginator-->
            <!--Desktop view-->
            <div class="content-body d-none d-md-flex">
                <div class="table-responsive w-100">
                    <table
                        class="table table-bordered"
                    >
                        <thead class="table-danger">
                            <tr>
                                <th>Booking ID</th>
                                <th>Type</th>
                                <th>Pickup</th>
                                <th>Drop</th>
                                <th>Cargo</th>
                                <th>Vehicle</th>
                                <th>Passenger</th>
                                <th>Customer No.</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody class="table-info">
                            {% if page_obj %}
                                {% for request in page_obj %}
                                    <tr>
                                        <td>{{ request.id }}</td>
                                        <td>{{ request.booking_type }}</td>
                                        <td>{{ request.pickup_location }}</td>
                                        <td>{{ request.drop_location }}</td>
                                        <td>{{ request.cargo }}</td>
                                        <td>{{ request.vehicle }}</td>
                                        <td>{{ request.passengers }}</td>
                                        <td>{{ request.booked_by.phone_number }}</td>
                                        <td
                                            style="
                                                   display: flex;
                                                   align-items: center;
                                                  "
                                        >
                                            {% if request.status != 'COMPLETED'%}
                                                <form method="POST" action="{% url 'vms:staff_update_booking_status' request.id %}"
                                                      style="display: flex; flex-direction: column; gap: 5px;">
                                                    {% csrf_token %}
                                                    <select name="status" class="statusSelect" required>
                                                        <option value="">select</option>
                                                        {% if request.status == 'ACKNOWLEDGE' %}
                                                            <option value="IN_PROGRESS">In Progress</option>
                                                        {% elif request.status == "IN_PROGRESS" %}
                                                            <option value="COMPLETED">Completed</option>
                                                        {% endif %}
                                                    </select>
                                                    <button class="btn btn-sm btn-primary" type="submit">Update</button>
                                                </form>
                                            {% else %}
                                                {{ request.status }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="100%">No requests available</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Mobile view-->
            <div class="content-body d-md-none">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-danger">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Detail</th>
                            </tr>
                        </thead>
                        <tbody class="table-info">
                            {% if page_obj %}
                                {% for request in page_obj %}
                                    <tr
                                        class="request-summary-row"
                                        onclick="toggleRequest(this)"
                                    >
                                        <td>{{ request.id }}</td>
                                        <td>{{ request.booked_by.username }}</td>
                                        <td><i class="fa-solid fa-plus"></i></td>
                                    </tr>
                                    <tr
                                        class="request-body"
                                    >
                                        <td colspan="4">
                                            <div class="request-body-content">
                                                <div>
                                                    <i class="fa-solid fa-circle-check"></i>
                                                    {{ request.status }}
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-phone"></i>
                                                    <p>{{ request.booked_by.phone_number }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-exclamation"></i>
                                                    <p>{{ request.booking_type|default:"NA" }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-location-dot"></i>
                                                    <p>{{ request.pickup_location|default:"NA" }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-location-dot"></i>
                                                    <p>{{ request.drop_location|default:"NA" }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-box"></i>
                                                    <p>{{ request.cargo|default:"NA" }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-car"></i>
                                                    <p>{{ request.vehicle|default:"NA" }}</p>
                                                </div>
                                                <div
                                                    style="height: 4rem;"
                                                >
                                                    <form method="POST" action="{% url 'vms:staff_update_booking_status' request.id %}"
                                                          style="display: flex; flex-direction: column; gap: 5px;">
                                                        {% csrf_token %}
                                                        <select name="status" class="statusSelect" required>
                                                            <option value="">select</option>
                                                            {% if request.status == 'ACKNOWLEDGE' %}
                                                                <option value="IN_PROGRESS">In Progress</option>
                                                            {% elif request.status == 'IN_PROGRESS' %}
                                                                <option value="COMPLETED">Completed</option>
                                                            {% endif %}
                                                        </select>
                                                        <button class="btn btn-sm btn-primary" type="submit">Update</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="100%">No Bookings</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

    <script>
        function toggleRequest(element) {
            const body = element.nextElementSibling;
            body.classList.toggle("active");

            const icon = element.querySelector("i");
            if (body.classList.contains("active")) {
                icon.classList.remove("fa-plus");
                icon.classList.add("fa-minus");
            } else {
                icon.classList.remove("fa-minus");
                icon.classList.add("fa-plus");
            }
        }
    </script>
{% endblock %}