{% extends 'index.html' %}

{% block title %}
    All Staff
{% endblock %}

{% block start %}
<style>
    .page-header h3 {
        color: wheat;
        font-family: 'poppins', sans-serif;
        font-weight: bold;
    }

    .page-header p {
        color: wheat;
        font-family: 'poppins', sans-serif;
    }

    thead {
        font-family: 'poppins', sans-serif;
        font-weight: bold;
    }

    tbody {
        font-family: 'poppins', sans-serif;
    }
</style>

<div class="container-fluid">
    <div class="page-header mb-3">
        <h3 class="mb-0">Staff</h3>
        <p>List of all staff in the department.</p>
    </div>
    <!--Paginator-->
    <nav class="mb-3">
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% endif %}
        </ul>
    </nav>
    <!--Paginator-->
    <div class="page-content">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-danger">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">License No.</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody class="table-info">
                    {% for staff in page_obj %}
                    <tr>
                        <td>{{staff.user.username}}</td>
                        <td>{{staff.license_number}}</td>
                        <td>{{staff.user.phone_number}}</td>
                        <td>{{staff.user.status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}