{% extends 'index.html' %}

{% block title %}
    Staff Dashboard
{% endblock %}

{% block start %}

    <style>
        .content-header {
            color: wheat;
            font-family: 'Poppins', sans-serif;
        }
        .cab-request,
        .table {
            font-family: 'Poppins', sans-serif;
        }
        .cab-request a {
            text-decoration: none;
        }
        .booking-body.active {
            display: block !important;
        }
        .request-body {
            display: none;
        }
        .request-body.active {
            display: table-row;
        }
        .request-body-content div {
            display: flex;
            align-items: center;
            gap: 1rem;
            height: 2rem;
        }
        .request-body-content div p {
            margin-bottom: 0;
        }
    </style>

    <div class="container-fluid">
        <div class="content-header mb-3">
            <h1 class="header-title mb-0">Dashboard</h1>
            <p class="mb-0 text-light">Welcome! You can view your recent activity here.</p>
        </div>
        {% if request.user.department.name|lower != "transport" %}
            <div class="cab-request d-flex align-items-center mb-3">
                <p class="mb-0 text-light">Booked a cab</p>&nbsp;<a class="btn btn-primary" href="{% url 'vms:vms_cab_request' %}">Book Now</a>
            </div>
        {% endif %}
        <div class="dashboard-content">
            <div class="content-header">
                <h3>Recent Activity</h3>
            </div>
            <div class="row">
                <!--Desktop view.-->
                <div class="col-12 d-none d-md-flex table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-danger">
                            <tr>
                                <th>Trip ID</th>
                                <th>Pickup Location</th>
                                <th>Drop Location</th>
                                <th>Pickup Time</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody class="table-info">
                            {% if bookings %}
                                {% for booking in bookings %}
                                    <tr>
                                        <td>{{ booking.id }}</td>
                                        <td>{{ booking.pickup_location }}</td>
                                        <td>{{ booking.drop_location }}</td>
                                        <td>{{ booking.pickup_time }}</td>
                                        <td>{{ booking.status }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="100%">No bookings available.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <!--Mobile view-->
                <div class="col-12 d-md-none table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-danger">
                            <tr>
                                <th scope="col">Trip ID.</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody class="table-info">
                            {% if bookings %}
                                {% for booking in bookings %}
                                    <tr
                                        class="booking-summary-row"
                                        onclick="toggleTask(this)"
                                    >
                                        <td>{{booking.id}}</td>
                                        <td>{{booking.status}}</td>
                                        <td><i class="fa-solid fa-plus"></i></td>
                                    </tr>
                                    <tr class="request-body">
                                        <td colspan="4">
                                            <div class="request-body-content">
                                                <div>
                                                    <i class="fa-solid fa-location-arrow"></i>
                                                    <p>{{ booking.pickup_location }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-location-arrow"></i>
                                                    <p>{{ booking.drop_location }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-clock"></i>
                                                    <p>{{ booking.pickup_time }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-user"></i>
                                                    <p>{{ booking.driver.user.username }}</p>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-phone"></i>
                                                    <p>{{ booking.driver.user.phone_number }}</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="100%">No bookings available.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        function toggleTask(element) {
            const body = element.nextElementSibling;
            body.classList.toggle("active");

            const icon = element.querySelector("i");
            if (body.classList.contains("active")) {
                icon.classList.remove("fa-plus");
                icon.classList.add("fa-minus");
            } else {
                icon.classList.remove("fa-minus");
                icon.classList.add("fa-plus");
            }
        }
    </script>
{% endblock %}