{% extends 'index.html' %}

{% block title %}
    Admin Dashboard
{% endblock %}

{% block start %}
    <style>
        .content-header h3 {
            color: wheat;
            font-family: 'poppins', sans-serif;
            font-weight: bold;
        }

        .content-header p {
            color: #fff;
            font-family: 'poppins', sans-serif;
        }

        thead {
            font-family: 'poppins', sans-serif;
            font-weight: bold;
        }

        tbody {
            font-family: 'poppins', sans-serif;
        }
    </style>

    <div class="container-fluid">
        <div class="row content-header d-flex align-items-center mb-3">
            <div class="col-6 left-content">
                <h3 class="mb-0">All Trips</h3>
                <p class="mb-0 text-light">List of all trips</p>
            </div>
            <div class="col-6 right-content">
                <a href="{% url 'vms:booking_export' %}" class="btn btn-success">
                    Export CSV
                </a>
            </div>
        </div>
        <div class="content-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-danger">
                        <tr>
                            <th>Type</th>
                            <th>Priority</th>
                            <th>Pick Up</th>
                            <th>Drop Off</th>
                            <th>Pickup Time</th>
                            <th>Drop Time</th>
                            <th>Vehicle</th>
                            <th>Driver</th>
                            <th>Booked By</th>
                            <th>Assigned To</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody class="table-info">
                        {% if all_trips %}
                            {% for trip in all_trips %}
                                <tr>
                                    <td>{{ trip.booking_type }}</td>
                                    <td>{{ trip.priority }}</td>
                                    <td>{{ trip.pickup_location }}</td>
                                    <td>{{ trip.drop_location }}</td>
                                    <td>{{ trip.pickup_time }}</td>
                                    <td>{{ trip.drop_time }}</td>
                                    <td>{{ trip.vehicle }}</td>
                                    <td>{{ trip.driver }}</td>
                                    <td>{{ trip.booked_by }}</td>
                                    <td>{{ trip.assigned_to }}</td>
                                    <td>{{ trip.status }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="100%" class="text-center">No completed trips found.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
