{% extends 'index.html' %}

{% block title %}
    Upcoming Trips
{% endblock %}

{% block start %}

    <style>
        .page-title {
            color: wheat;
            font-family: 'poppins', sans-serif;
        }
        .table {
            font-family: 'Poppins', sans-serif;
        }
        .trip-body {
            display: none;
        }
        .trip-body.active {
            display: table-row;
        }
        .trip-body-content div {
            display: flex;
            align-items: center;
            gap: 1rem;
            height: 2rem;
            width: 100%;
        }
        .trip-body-content div i {
            width: 1rem;
            height: 1rem;
        }
        .trip-body-content div p {
            margin-bottom: 0;
        }
        .status-waiting > td   { background-color: #ffc107; color: #000; }
        .status-acknowledged > td      { background-color: #0d6efd; color: #fff; }
        .status-confirmed > td  { background-color: #17a2b8; color: #fff; }
        .status-progress > td    { background-color: #6f42c1; color: #fff; }
        .status-completed > td  { background-color: #198754; color: #fff; }
        .status-cancelled > td { background-color: #fd7e14; color: #fff; }
    </style>

    <div class="container-fluid">
        <div class="page-title mb-3">
            <h3 class="mb-0 fw-bold">Upcoming Trips</h3>
            <p class="mb-0">list of upcoming trips</p>
        </div>
    <!--Desktop view-->
        <div class="page-content table-responsive d-none d-md-flex">
            <table class="table table-bordered">
                <thead class="table-danger">
                    <tr>
                        <th scope="col">Booking ID</th>
                        <th scope="col">Type</th>
                        <th scope="col">Pickup Location</th>
                        <th scope="col">Drop Location</th>
                        <th scope="col">Vehicle</th>
                        <th scope="col">Driver</th>
                        <th scope="col">Phone No.</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody class="table-info">
                    {% if upcomings %}
                        {% for trip in upcomings %}
                            <tr
                                class="
                                    {% if trip.status == 'WAITING' %}
                                        status-waiting
                                    {% elif trip.status == 'ACKNOWLEDGED' %}
                                        status-acknowledged
                                    {% elif trip.status == 'IN PROGRESS' %}
                                        status-progress
                                    {% elif trip.status == 'CONFIRMED' %}
                                        status-confirmed
                                    {% elif trip.status == 'COMPLETED' %}
                                        status-completed
                                    {% elif trip.status == 'CANCELLED' %}
                                        status-cancelled
                                    {% endif %}
                                    "
                            >
                                <td>{{ trip.id }}</td>
                                <td>{{ trip.booking_type }}</td>
                                <td>{{ trip.pickup_location }}</td>
                                <td>{{ trip.drop_location }}</td>
                                <td>{{ trip.vehicle.vehicle_number|default:"-" }}</td>
                                <td>{{ trip.driver.user.username|default:"-" }}</td>
                                <td>{{ trip.driver.user.phone_number|default:"-" }}</td>
                                <td>{{ trip.status}}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="100%">No upcoming trips found.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    <!--Mobile view-->
        <div class="page-content table-responsive d-md-none">
            <table class="table table-bordered">
                <thead class="table-danger">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Driver</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="table-info">
                    {% if upcomings %}
                        {% for trip in upcomings %}
                            <tr
                                class="trip-summary-row
                                    {% if trip.status == 'WAITING' %}
                                        status-waiting
                                    {% elif trip.status == 'ACKNOWLEDGED' %}
                                        status-acknowledged
                                    {% elif trip.status == 'IN PROGRESS' %}
                                        status-progress
                                    {% elif trip.status == 'CONFIRMED' %}
                                        status-confirmed
                                    {% elif trip.status == 'COMPLETED' %}
                                        status-completed
                                    {% elif trip.status == 'CANCELLED' %}
                                        status-cancelled
                                    {% endif %}
                                    "
                                onClick="toggleTask(this)"
                            >
                                <td>{{ trip.id }}</td>
                                <td>{{ trip.driver.user.username|default:"-" }}</td>
                                <td><i class="fa-solid fa-plus"></i></td>
                            </tr>
                            <tr class="trip-body
                                    {% if trip.status == 'WAITING' %}
                                        status-waiting
                                    {% elif trip.status == 'ACKNOWLEDGED' %}
                                        status-acknowledged
                                    {% elif trip.status == 'IN PROGRESS' %}
                                        status-progress
                                    {% elif trip.status == 'CONFIRMED' %}
                                        status-confirmed
                                    {% elif trip.status == 'COMPLETED' %}
                                        status-completed
                                    {% elif trip.status == 'CANCELLED' %}
                                        status-cancelled
                                    {% endif %}
                                    "
                                >
                                <td colspan="4">
                                    <div class="trip-body-content">
                                        <div>
                                            <i class="fa-solid fa-circle-check"></i>
                                            <p>{{ trip.status}}</p>
                                        </div>
                                        <div>
                                            <i class="fa-solid fa-exclamation"></i>
                                            <p>{{ trip.booking_type }}</p>
                                        </div>
                                        <div>
                                            <i class="fa-solid fa-location-dot"></i>
                                            <p>{{ trip.pickup_location }}</p>
                                        </div>
                                        <div>
                                            <i class="fa-solid fa-location-dot"></i>
                                            <p>{{ trip.drop_location }}</p>
                                        </div>
                                        <div>
                                            <i class="fa-solid fa-car-rear"></i>
                                            <p>{{ trip.vehicle.vehicle_number|default:"-" }}</p>
                                        </div>
                                        <div>
                                            <i class="fa-regular fa-user"></i>
                                            <p>{{ trip.driver.user.username }}</p>
                                        </div>
                                        <div>
                                            <i class="fa-solid fa-phone"></i>
                                            <p>{{ trip.driver.user.phone_number|default:"-" }}</p>
                                        </div>
                                        <div>
                                            <i class="fa-regular fa-clock"></i>
                                            <p>{{ trip.pickup_time }}</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="100%">No upcoming trips found.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
    function toggleTask(element) {
      const body = element.nextElementSibling;
      body.classList.toggle("active");

      const icon = element.querySelector("i");
      if (body.classList.contains("active")) {
        icon.classList.remove("fa-plus");
        icon.classList.add("fa-minus");
      } else {
        icon.classList.remove("fa-minus");
        icon.classList.add("fa-plus");
      }
    }
  </script>
{% endblock %}