* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

footer {
    text-align: center;
    padding: 0px 5px;
}

body {
    background-image: url('../images/body-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
