* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

footer {
    text-align: center;
    padding: 0px 5px;
}

body {
    background-image: url('../images/body-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
