{% load static %}

<style>
  .label {
    font-family: 'Poppins', sans-serif;
  }
</style>

<link rel="stylesheet" href="{% static 'styles/menu.css' %}" />

<div id="sidebar">
  <div class="container">
    {% for item in menu_items %}
    <div class="row justify-content-center align-items-center mb-4">
      <a href="{{ item.url }}" class="d-flex text-decoration-none" style="color: #990000;">
        <div class="col-3 d-flex align-items-center ps-2">
          {% if item.icon %}
          <span class="icon" style="color: #990000;"> 
            {{ item.icon|safe }}
          </span>
          {% endif %}
        </div>
        <div class="col-9 d-flex align-items-center">
          <span class="label"> {{ item.label }} </span>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
