{% extends 'index.html' %} 

{% block title %} 
Dashboard
{% endblock %} 

{% block start %}
<style>
    .profile-title h1 {
      font-family: 'Poppins', sans-serif;
      color: wheat;
    }

    .card {
        font-family: 'Poppins', sans-serif;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 
            0 8px 32px rgba(0, 0, 0, 0.1),
            inset 0 1px 0 rgba(255, 255, 255, 0.5),
            inset 0 -1px 0 rgba(255, 255, 255, 0.1),
            inset 0 0 20px 10px rgba(255, 255, 255, 1);
        position: relative;
        overflow: hidden;
        color: #fff;
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        justify-content: start;
    }
</style>

<div class="container">
  <div class="row">
    <div class="col-12 profile-title">
      <h1 class="fw-bold">My Profile</h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="card shadow-lg p-3 rounded">
        <ul class="row">
          <li class="col-6 text-end fw-bold">NAME:</li><li class="col-6">{{profile.username}}</li>
          <li class="col-6 text-end fw-bold">ROLE:</li><li class="col-6">{{profile.role}}</li>
          <li class="col-6 text-end fw-bold">DEPARTMENT:</li><li class="col-6">{{profile.department}}</li>
          <li class="col-6 text-end fw-bold">DESIGNATION:</li><li class="col-6">{{profile.designation}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
