{% extends 'index.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block start %}

<style>
    .dashboard-title {
        color: wheat;
    }
    .card {
        background-color: rgba(0, 0, 0, 0.6);
        min-height: 6rem;
    }
    .card-title {
        font-family: 'poppins', sans-serif;
        font-size: 1rem;
        color: #fff;
    }
    .card-body p {
        font-family: 'poppins', sans-serif;
        font-size: 0.9rem;
        font-weight: bold;
        color: #fff;
    }
    .table-title h4 {
        font-family: 'poppins', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        color: wheat;
    }
    th, tr {
        font-family: 'Poppins', sans-serif;
    }
</style>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="dashboard-title">
                <h1 class="fw-bold mb-0">Welcome</h1>
                <p class="mb-0">{{current_user.username}}</p>
            </div>
        </div>
        {% if current_user.department.name != 'General Duty Assistant' and current_user.department.name != 'GDA' and current_user.role == 'Admin' %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="service-request-form">
                <p class="mb-0 text-light">
                    Request a service &nbsp;<a class="text-warning fw-bold" href="{% url 'srm:admin_request_service' %}"
                        style="text-decoration: none;">click here.</a>
                </p>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row d-flex mb-3 g-2">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Service</h5>
                    <p>{{total_service}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs -12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Users</h5>
                    <p>{{all_users}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs -12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Engage Users</h5>
                    <p>{{engaged}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs -12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Vacant Users</h5>
                    <p>{{vacants}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="col-title d-flex align-items-center table-title mb-2">
                <i class="fa-solid fa-circle fa-sm" style="color: #eb0707"></i>
                &nbsp;&nbsp;
                <h4>Engage User</h4>
            </div>
            <div class="col-table table-responsive">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                        <th scope="col">Username</th>
                        </tr>
                    </thead>
                    <tbody class="table-info">
                        {% if engage_user %}
                        {% for engage in engage_user %}
                        <tr>
                        <td>{{engage.username}}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="3">No engage users!</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="col-title d-flex align-items-center table-title mb-2">
                <i class="fa-solid fa-circle fa-sm" style="color: #4feb07"></i>
                &nbsp;
                <h4>Vacant User</h4>
            </div>
            <div class="col-table table-responsive">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                        <th scope="col">Username</th>
                        </tr>
                    </thead>
                    <tbody class="table-info">
                        {% if vacant_user %}
                        {% for vacant in vacant_user %}
                        <tr>
                        <td>{{vacant.username}}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="3">No vacant users!</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}