{% extends 'index.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block start %}

<style>
    .dashboard-title h1 {
        font-family: 'Poppins', sans-serif;
        color: wheat;
    }
    .dashboard-title p {
        font-family: 'Poppins', sans-serif;
        color: #fff;
    }
    .card {
        background-color: rgba(0, 0, 0, 0.4);
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
        color: #fff;
        min-height: 8rem;
    }
</style>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="dashboard-title">
                <h1 class="fw-bold mb-0">Welcome</h1>
                <p class="mb-0">{{current_user.username}}</p>
            </div>
        </div>
        {% if current_user.department.name != 'General Duty Assistant' and current_user.department.name != 'GDA' %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="service-request-form">
                <p class="mb-0 text-light">
                    Request a service &nbsp;<a class="text-warning fw-bold" href="{% url 'srm:request_service' %}"
                        style="text-decoration: none;">click here.</a>
                </p>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-2">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Service Requested</h5>
                    <p>{{total_service}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-2">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Open Service</h5>
                    <p>{{open_serv}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-2">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Progress Service</h5>
                    <p>{{prog_serv}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-2">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Completed Service</h5>
                    <p>{{comp_serv}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}