{% extends 'index.html' %}
{% load timesince_extra %}
{% load static %}

{% block title %}
    Service Requested
{% endblock %}

{% block start %}

    <style>
        .service-title h1 {
            color: wheat;
            font-family: 'Poppins',sans-serif;
        }
        th, tr {
            font-family: 'Poppins',sans-serif;
        }
        th {
            font-size: 0.9rem;
        }
        tr {
            font-size: 0.85rem;
        }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="service-title">
                <h1 class="fw-bold mb-3">All Service</h1>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col table-responsive">
                <table class="table table-hover table-bordered">
                    <thead class="table-danger">
                        <tr>
                            <th scope="col">Service Type</th>
                            <th scope="col">Assigned To</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if page_obj %}
                        {% for service in page_obj %}
                        <tr
                            {% if service.status|lower == 'completed' %}
                                class="table-success"
                            {% elif service.status|lower == 'in-progress' %}
                                class="table-warning"
                            {% elif service.status|lower == 'pending' %}
                                class="table-info"
                            {% endif %}
                        >
                            <td>{{ service.service_type }}</td>
                            <td>{{ service.assigned_to }}</td>
                            <td>{{ service.status }}</td>
                        <tr>
                        {% endfor %} 
                        {% else %}
                        <tr>
                            <td colspan="3">No services found.</td>
                        </tr>
                        {% endif %}    
                    </tbody>    
                </table>    
            </div>
        </div>
    </div>
{% endblock %}
