{% extends 'index.html' %}
{% load static %}

{% block title %}
Service
{% endblock %}

{% block start %}

<style>
    .all-tasks-title h1 {
        font-family: 'Poppins', sans-serif;
        color: wheat;
    }

    .all-tasks-title p {
        font-family: 'Poppins', sans-serif;
        color: wheat;
    }
    th {
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
    }
    td {
        font-family: 'Poppins', sans-serif;
        font-size: 0.85rem;
    }
    .status-pending > td   { background-color: #990000; color: white; }
    .status-waiting > td  { background-color: #ff9900; color: #000; }
    .status-completed > td { background-color: #003300; color: #fff; }
    .status-onhold  > td  { background-color: #d2d2d2; color: #000; }
</style>

<div class="container-fluid">
    {% if request.user.department.name != 'GDA' and request.user.department.name != 'General Duty Assistant' %}
    <div class="row mb-3">
        <div class="col-12 d-flex flex-column">
            <div class="all-tasks-title">
                <h1 class="fw-bold mb-0">All Service</h1>
                <p>All the service requested is listed below!</p>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <nav>
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
              {% endif %}
              {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                  <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" href="page={{ num }}">{{ num }}</a>
                  </li>
                {% endif %}
              {% endfor %}
        
              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="page={{ page_obj.next_page_number }}">Next</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table">
                <thead class="table-danger">
                    <tr>
                        <th scope="col">Service No.</th>
                        <th scope="col">Service Type</th>
                        <th scope="col">Assigned To</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% if page_obj %}
                        {% for service in page_obj %}
                            <tr
                            {% if service.status|lower == "pending" %}
                              class="status-pending"
                            {% elif service.status|lower == "waiting" %}
                              class="status-waiting"
                            {% elif service.status|lower == "completed" %}
                              class="status-completed"
                            {% elif service.status|lower == "on hold" %}
                              class="status-onhold"
                            {% endif %}
                            >
                                <td>{{service.service_number}}</td>
                                <td>{{service.service_type}}</td>
                                <td>{{service.assigned_to}}</td>
                                <td>{{service.from_location}}</td>
                                <td>{{service.to_location}}</td>
                                <td>{{service.priority}}</td>
                                <td>{{service.status}}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="100%">
                            No service have been requested yet!
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="row mb-3">
        <div class="col-12 d-flex flex-column">
            <div class="all-tasks-title">
                <h1 class="fw-bold mb-0">Requested Service</h1>
                <p>All the service requested to you!</p>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <nav>
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
              {% endif %}
              {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                  <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" href="page={{ num }}">{{ num }}</a>
                  </li>
                {% endif %}
              {% endfor %}
        
              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="page={{ page_obj.next_page_number }}">Next</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table">
                <thead class="table-danger">
                    <tr>
                        <th scope="col">Service No.</th>
                        <th scope="col">Service Type</th>
                        <th scope="col">Requested By</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Status</th>
                        <th scope="col">Remark</th>
                        <th scope="col">Update Status</th>
                    </tr>
                </thead>
                <tbody class="table-info">
                    {% if page_obj %}
                        {% for service in page_obj %}
                            <tr
                            {% if service.status|lower == "pending" %}
                              class="status-pending"
                            {% elif service.status|lower == "waiting" %}
                              class="status-waiting"
                            {% elif service.status|lower == "completed" %}
                              class="status-completed"
                            {% elif service.status|lower == "on hold" %}
                              class="status-onhold"
                            {% endif %}
                            >
                                <td>{{service.service_number}}</td>
                                <td>{{service.service_type}}</td>
                                <td>{{service.created_by}}</td>
                                <td>{{service.from_location}}</td>
                                <td>{{service.to_location}}</td>
                                <td>{{service.priority}}</td>
                                <td>{{service.status}}</td>
                                <td></td>
                                {% if service.status != 'Completed' and service.status != 'Pending' %}
                                <td>
                                  <form method="POST" action="{% url 'srm:staff_update_service_status' service.id %}">
                                    {% csrf_token %}
                                    <select name="status" required>
                                      <option value="">select</option>
                                      <option value="Completed" {% if service.status == 'Completed' %} selected {% endif %}>Completed</option>
                                      <option value="On Hold" {% if service.status == 'On Hold' %} selected {% endif %}>On Hold</option>
                                    </select>
                                    <button class="btn btn-sm btn-primary mt-2" type="submit">Update</button>
                                  </form>
                                </td>
                                {% else %}
                                <td>
                                  <span class="text-light">No action needed</span>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="100%">
                            No service have been requested yet!
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %} 
</div>
{% endblock %}