{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block start %}

<style>
    .dashboard-title h1 {
        font-family: 'Poppins', sans-serif;
        color: wheat;
    }

    .dashboard-title p {
        font-family: 'Poppins', sans-serif;
        color: #fff;
    }

    .card {
        background-color: rgba(0, 0, 0, 0.4);
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
        color: #fff;
        min-height: 8rem;
    }

    .card:hover {
        background-color: #990000;
        color: #fff;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-body h5 {
        font-size: 1rem;
        font-weight: 600;
    }

    .shift-title h3 {
        font-family: 'Poppins', sans-serif;
        color: wheat;
    }

    th,
    td {
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
    }

    .chart-title h3 {
        font-family: 'Poppins', sans-serif;
        color: wheat;
    }

    .generated_service_link {
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
    }
</style>

<div class="container-fluid">
    {% if messages %}
        {% for message in messages %}
        <div class="staff-alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% if errors %}
        <div class="staff-error-alert alert-danger">
        {{ errors }}
        </div>
    {% endif %}
    <div class="row mb-3">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="dashboard-title">
                <h1 class="fw-bold mb-0">Welcome</h1>
                <p class="mb-0">{{current_user.username}}</p>
            </div>
        </div>
        {% if current_user.department.name != 'General Duty Assistant' and current_user.department.name != 'GDA' %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-center">
            <div class="service-request-form">
                <p class="mb-0 text-light">
                    Request a service &nbsp;<a class="text-warning fw-bold" href="{% url 'srm:request_service' %}"
                        style="text-decoration: none;">click here.</a>
                </p>
            </div>
        </div>
        {% else %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-center">
            <div class="service-generate-btn d-flex align-items-center">
                <small class="text-light">Generate a service</small>
                &nbsp;
                <div id="actionButtons">
                    <button id="completeBtn"
                            class="btn btn-sm btn-success me-2"
                            data-url="{% url 'srm:generate_service' %}"
                            {% if not show_action_buttons %} style="display:none;" {% endif %}>
                        Complete
                    </button>

                    <button id="holdBtn"
                            class="btn btn-sm btn-secondary"
                            {% if not show_action_buttons %} style="display:none;" {% endif %}>
                        Hold
                    </button>

                    <button id="generateBtn"
                            type="button"
                            class="btn btn-sm btn-warning"
                            {% if show_action_buttons %} style="display:none;" {% endif %}>
                        Generate
                    </button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% if request.user.department.name == 'GDA' or request.user.department.name == 'General Duty Assistant' %}
    <div class="row mb-3">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-2">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Request</h5>
                    <p>{{total_assign_service}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-2">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Progress</h5>
                    <p>{{prog_assign_serv}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-2">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Completed</h5>
                    <p>{{comp_assign_serv}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-2">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Generate</h5>
                    <p class="m-0 p-0">{{generate}}</p>
                </div>
                <div class="card-link">
                    <a class="generated_service_link text-warning" href="{% url 'srm:all_generate_service' %}">view
                        all</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row mb-3">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-2">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Created</h5>
                    <p>{{total_created_service}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-2">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Open</h5>
                    <p>{{open_created_serv}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-2">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Progress</h5>
                    <p>{{prog_created_serv}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-2">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Completed</h5>
                    <p>{{comp_created_serv}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row mb-3">
        {% if request.user.department.name == 'GDA' or request.user.department.name == 'General Duty Assistant' %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="row h-100">
                <div 
                class="col-12 shift-title" 
                style="height: 3rem;min-height: 3rem;"
                >
                    <h3>Shift Schedule</h3>
                </div>
                <div 
                class="col-12 table-responsive"
                style="height: calc(100% - 3rem);min-height: calc(100% - 3rem); overflow-y: auto;"
                >
                    <table 
                    class="table h-100"
                    style="overflow-y: auto;"
                    >
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Shift</th>
                                <th scope="col">Location</th>
                                <th scope="col">Start</th>
                                <th scope="col">End</th>
                            </tr>
                        </thead>
                        <tbody class="table-info">
                            {% if shifts %}
                            {% for shift in shifts %}
                            <tr>
                                <td>{{shift.shift_type}}</td>
                                <td>{{shift.shift_block}} </td>
                                <td>{{ shift.start_time|date:"H:i" }}</td>
                                <td>{{ shift.end_time|date:"H:i" }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="100%" class="text-center">No shifts assigned.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="chart-title mb-2">
                <h3>Service Pie Chart</h3>
            </div>
            <!-- Filter form -->
        <form method="get" class="row g-2 align-items-end mb-3">
          <div class="col-auto">
            <label for="start_date" class="form-label small mb-1">Start</label>
            <input type="date" id="start_date" name="start_date" class="form-control form-control-sm"
              value="{{ request.GET.start_date }}">
          </div>

          <div class="col-auto">
            <label for="end_date" class="form-label small mb-1">End</label>
            <input type="date" id="end_date" name="end_date" class="form-control form-control-sm"
              value="{{ request.GET.end_date }}">
          </div>

          <div class="col-auto">
            <button type="submit" class="btn btn-primary btn-sm">
              Filter
            </button>
          </div>
        </form>
            <img class="img-fluid rounded-2 w-100" src="{% url 'srm:service_pie_chart' %}?start_date={{ request.GET.start_date }}&end_date={{ request.GET.end_date }}&v={{ now }}"
                alt="service Pie Chart" />
        </div>
    </div>
</div>

<script>
  document.getElementById('serv-chart-filters').addEventListener('submit', function (e) {
    e.preventDefault();
    const params = new URLSearchParams(new FormData(this));
    params.append('v', Date.now());
    const chart = document.getElementById('serv-chart-img');
    chart.src = `{% url 'srm:service_pie_chart' %}?${params.toString()}`;
  });
</script>

<!--Modal-->
<div id="serviceModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="serviceModalContent">
        <p>Loading...</p>
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const generateBtn = document.getElementById("generateBtn");
        const completeBtn = document.getElementById("completeBtn");
        const holdBtn = document.getElementById("holdBtn");
        let timeOutId = null;

        //update user status
        const updateStatusOnServer = (newStatus) => {
            fetch("{% url 'srm:update_status' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: `status=${newStatus}`
            });
        };

        if (generateBtn) {
            generateBtn.addEventListener("click", () => {
                updateStatusOnServer("engaged");

                // Start 30-minute timer (30*60*1000 ms)
                timeoutId = setTimeout(() => {
                    resetToVacant();
                }, 30 * 60 * 1000);

                // Hide Generate button
                generateBtn.style.display = "none";
                completeBtn.style.display = "inline-block";
                holdBtn.style.display = "inline-block";
            });
        }

        if (completeBtn) {
            completeBtn.addEventListener("click", () => {
                updateStatusOnServer("vacant");

                completeBtn.style.display = "none";
                holdBtn.style.display = "none";

                generateBtn.style.display = "inline-block";

                const modalE1 = document.getElementById("serviceModal");
                const modal = new bootstrap.Modal(modalE1);
                modal.show();

                const content = document.getElementById("serviceModalContent");
                content.innerHTML = "<p>Loading...</p>";

                fetch("{% url 'srm:generate_service' %}")
                    .then(res => res.text())
                    .then(html => {
                        content.innerHTML = html;
                    })
                    .catch(() => {
                        content.innerHTML = "<p class='text-danger'>Error loading content.</p>";
                    });
            });
        }

        if (holdBtn) {
            holdBtn.addEventListener("click", () => {
                updateServiceStatusOnServer("On Hold")

                timeOutId = setTimeout(() => {
                    resetToVacant();
                }, 20 * 60 * 1000);

                btnContainer.innerHTML = "";
            })
        }
    });
</script>

{% endblock %}