{% extends 'index.html' %}
{% load timesince_extra %}
{% load static %}

{% block title %}
    Service Requested
{% endblock %}

{% block start %}

    <style>
        .tasks-title h1 {
            color: wheat;
            font-family: 'Poppins',sans-serif;
        }
        .raised-tasks p {
            font-family: 'Poppins', sans-serif;
        }
    </style>

    <div class="container-fluid">
        <div class="d-flex flex-column">
            <div class="tasks-title">
                <h1 class="fw-bold mb-0">All Service</h1>
            </div>
            <div class="raised-tasks">
                <p class="text-light">Assigned a new task&nbsp;<a class="text-warning" href="" style="text-decoration: none;">Assign Here.</a></p>
            </div>
        </div>
    </div>
{% endblock %}
