{% extends 'index.html' %}
{% load timesince_extra %}
{% load static %}

{% block title %}
    Service
{% endblock %}

{% block start %}

    <style>
        .all-tasks-title h1 {
            font-family: 'Poppins', sans-serif;
            color: wheat;
        }
        .raised-tasks p {
            font-family: 'Poppins', sans-serif;
        }
    </style>

    <div class="container-fluid">
        <div class="d-flex flex-column">
            <div class="all-tasks-title">
                <h1 class="fw-bold mb-0">All Service</h1>
            </div>
        </div>
    </div>
{% endblock %}
