{% extends 'index.html' %} {% load static %} {% block title %} Complaint Details {% endblock %} {% block start %}
<style> 
  .content-title {
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }
  .ps-0 {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
  }
  ul {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 0.9rem;
  }
  th {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
  }
  td {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
  }
  .detail-title {
    min-width: 8rem;
    margin-bottom: 0.5rem;
  }
</style>

<link rel="stylesheet" href="{% static 'styles/complaint_details.css' %}" />

<div class="container-fluid">
  <div class="row py-3">
    <div class="mb-3">
      <a
        href="javascript:history.back()"
        class="col-12 d-flex align-items-center text-warning"
        style="text-decoration: none"
      >
        <i class="fa-solid fa-arrow-left"></i>
        &nbsp;back
      </a>
    </div>
    <div class="col-12 d-flex justify-content-between align-items-center">
      <div class="content-title">
        <h3 class="fw-bold">Complaint Details</h3>
      </div>
    </div>
    <div class="col-12">
      {% if complaint %}
      <ul class="ps-0">
        <li class="d-flex">
          <span class="fw-bold detail-title">Complaint No.:</span>&nbsp;
          <p class="m-0">{{complaint.complaint.complaint_number}}</p>
        </li>
        <li class="d-flex">
          <span class="fw-bold detail-title">Complaint:</span>&nbsp;
          <p class="m-0">{{complaint.complaint.complaint_type}}</p>
        </li>
        <li class="d-flex">
          <span class="fw-bold detail-title">Location:</span>&nbsp;
          <p class="m-0">{{complaint.complaint.location}}</p>
        </li>
        <li class="d-flex">
          <span class="fw-bold detail-title">Description:</span>&nbsp;
            {% if complaint.complaint.description %}
              <p class="m-0">{{complaint.complaint.description}}</p>
            {% else %}
              <p class="m-0">No Description!</p>
            {% endif %}
        </li>
        <li class="d-flex">
          <spna class="fw-bold detail-title">Status:</spna>&nbsp;
          <p class="m-0">{{complaint.status_changed_to}}</p>
        </li>
        <li class="d-flex">
          <spna class="fw-bold detail-title">Attachment:</spna>&nbsp;
          {% if complaint.complaint.attachment %}
            <img src="{{ complaint.complaint.attachment.url }}" alt="Complaint Attachment" style="max-width: 20vw; height: 16vh;" />
          {% else %}
            <p class="m-0">No Image</p>
          {% endif %}
        </li>
      </ul>
      {% else %}
      <p>No complaint details found.</p>
      {% endif %}
    </div>
    <div class="col-12 table-responsive">
      <div class="table-title">
        <h5 class="text-light" style="font-family: 'Poppins', sans-serif;">Remarks</h5>
      </div>
      <table class="table table-bordered">
        <thead class="table-primary">
          <tr>
            <th scope="col">Remark</th>
            <th scope="col">Created By</th>
            <th scope="col">Created At</th>
          </tr>
        </thead>
        <tbody>
          {% if remarks %} {% for remark in remarks %}
          <tr>
            <td>{{remark.remarks}}</td>
            <td>{{remark.created_by}}</td>
            <td>{{remark.created_at}}</td>
          </tr>
          {% endfor %} {% else %}
          <tr>
            <td colspan="3">No Remarks!</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
