{% extends 'index.html' %} {% load static %} {% block title %} Dashboard {% endblock %} {% block start %}

<style>
  .staff-dashboard-title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: wheat;
  }
  .user-name {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    color: #fff;
  }
  .card {
    background-color: rgba(255, 255, 255, 0.2);
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 0.85rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  }
  .col-title,
  .chart-title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #fff;
  }
</style>

<link rel="stylesheet" href="{% static 'styles/san_tree.css' %}" />

<div
  id="main-content"
  class="container h-100"
>
  <div
    class="row d-flex w-100 pt-3 mb-3"
  >
    <div
      class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 d-flex flex-column justify-content-center"
    >
      <div class="staff-dashboard-title">
        <h1 class="mb-0">Dashboard</h1>
      </div>
      <div class="user-details d-flex flex-column">
        <h5 class="user-name m-0 fw-light">{{current_user.username}}</h5>
      </div>
      <div class="row g-2 mt-2">
        <div class="col-6">
          <div class="card shadow-sm text-center py-2" style="min-height: 8rem">
            <div class="card-title fw-bold">Raised Complaints</div>
            <div class="card-body">{{raised}}</div>
          </div>
        </div>
        <div class="col-6">
          <div class="card shadow-sm text-center py-2" style="min-height: 8rem">
            <div class="card-title fw-bold">Assigned Complaints</div>
            <div class="card-body">{{assigned}}</div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-none d-md-flex flex-column justify-content-center"
    >
      
    </div>
  </div>
  <div
    class="row d-flex w-100"
  >
    <div
      class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8"
      style="padding-right: 0;"
    >
      <div 
      class="row"
      style="padding-right: 0;"
      >
        <div class="col-6 p-2">
          <div class="chart-title">
            <h5>Raised Complaints</h5>
          </div>
          <div class="raise-chart">
            <img
              class="img-fluid w-100"
              src="{% url 'cms:raise_complaint_pie_chart' %}?v={{ now }}"
              alt="Complaint Pie Chart"
            />
          </div>
        </div>
        <div class="col-6 p-2">
          <div class="chart-title">
            <h5>Assigned Complaints</h5>
          </div>
          <div class="assign-chart">
            <img
              class="img-fluid w-100"
              src="{% url 'cms:assign_complaint_pie_chart' %}?v={{ now }}"
              alt="Complaint Pie Chart"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-none d-md-flex flex-column justify-content-center"
    >
      
    </div>
  </div>
</div>

{% endblock %}
