{% load crispy_forms_tags %}

<form id="assignForm" class="assigned_form" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" id="submitBtn" class="btn btn-primary">Request</button>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById("assignForm");
    const submitBtn = document.getElementById("submitBtn");
    form.addEventListener("submit", function(event) {
      submitBtn.disabled = true;
      submitBtn.innerText = "Submitting...";
    });
  });
</script>
