{% load crispy_forms_tags %} 

{% block start %}
<!--styles-->
<style>
  .card-title,
  #taskTypeForm {
    font-family: 'Poppins', sans-serif;
  }
</style>
<!---------->

<div class="container">
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

{% if form.errors %}
  <div class="alert alert-danger">
    {{ form.errors }}
  </div>
{% endif %}

  <div class="row d-flex justify-content-center py-3">
      <div class="col-md-6 col-lg-4 w-100">
        <div class="card shadow-lg border-0 rounded-4">
          <div class="card-body p-4">
            <h4 class="card-title text-center mb-4">Block</h4>
            <form id="BlockForm" method="post" enctype="multipart/form-data" action="{% url 'add_block' %}">
              {% csrf_token %} {{ form|crispy }}

              <div class="d-grid mt-4">
                <button
                  type="submit"
                  class="btn btn-lg"
                  style="border: 1px solid #800000; color: #800000"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
