{% extends 'index.html' %}
{% load static %}

{% block title %}
Department Detail
{% endblock %}

{% block start %}

<style>
	.department-title h3,
	.remarks-title h3 {
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
		color: wheat;
	}
	ul {
		list-style-type: none;
	}
	li {
		display: flex;
	}
	li span {
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
		font-size: 1rem;
		width: 8rem;
	}
	li p {
		font-family: 'Poppins', sans-serif;
		font-size: 0.9rem;
	}
	th, td {
		font-family: 'Poppins', sans-serif;
		font-size: 0.9rem;
	}
</style>

<div class="container">
	<div class="row mt-5 pt-3">
        <span style="width: auto;">
            <div class="mb-3">
                <a href="javascript:history.back()" class="d-flex align-items-center text-warning"
                    style="text-decoration: none">
                    <i class="fa-solid fa-arrow-left"></i>
                    &nbsp;back
                </a>
            </div>
        </span>
        <div class="col-12">
            <div class="department-title mb-3">
                <h3 class="mb-0">{{complaint.complaint_type}}</h3>
            </div>
        </div>
    </div>
    <div class="row">
    	<div class="col-12">
    		<ul class="ps-0">
    			<li>
    				<span class="detail-title">Complaint No.</span>
    				<p>{{complaint.complaint_number}}</p>
    			</li>
    			<li>
    				<span class="detail-title">Status</span>
    				<p>{{complaint.status}}</p>
    			</li>
    			<li>
    				<span class="detail-title">Location</span>
    				<p>{{complaint.location}}</p>
    			</li>
    			<li>
    				<span class="detail-title">Priority</span>
    				<p>{{complaint.priority}}</p>
    			</li>
    			<li>
    				<span class="detail-title">Concern Dept.</span>
    				<p>{{complaint.department}}</p>
    			</li>
				<li>
    				<span class="detail-title">Raised By</span>
    				<p>{{complaint.created_by}}</p>
    			</li>
    		</ul>
    	</div>
    </div>
    <div class="row">
    	<div class="col-12">
    		<div class="remarks-title">
    			<h3>Remarks</h3>
    		</div>
    		<div class="remarks-content">
    			<table class="table">
				  <thead class="table-dark">
				    <tr>
				      <th scope="col">remark</th>
				    </tr>
				  </thead>
				  <tbody class="table-info">
				    {% if remarks %}
				        <tr>
				            {% for remark in remarks %}
				                <td>{{ remark.remarks }}</td>
				            {% endfor %}
				        </tr>
				    {% else %}
				        <tr>
				            <td colspan="100%">No Remarks!</td>
				        </tr>
				    {% endif %}
				</tbody>
				</table>    		
			</div>
    	</div>
    </div>
</div>
{% endblock %}
