{% load static %}
{% block start %}
<!--style-->
<style>
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }

  .sidebar_menu li {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .sidebar_menu li a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
  }

  .sidebar .menu-label {
    opacity: 0;
    visibility: hidden;
    width: 0;
    overflow: hidden;
    transition: opacity 0.2s ease, width 0.2s ease;
  }

  .sidebar.expanded .menu-label {
    opacity: 1;
    visibility: visible;
    width: auto;
    font-family: 'Poppins', sans-serif;
  }

</style>
<!--------->
<!-- sidebar.html -->
<div id="sidebar-content" class="sidebar-content h-100">
  <ul class="sidebar_menu">
    <li class="demo-item d-flex justify-content-between">
      <a href="#" style="width: 10rem;color: #990000;">
        <img class="img-fluid" src="{% static 'images/logo.png' %}" style="height: 32px;width: 2rem;">
        <span class="menu-label fw-bold">SSMS</span>
      </a>
    </li>

    {% for item in sidebar_menu %}
    <li class="{% if request.resolver_match.url_name == item.view_name %}active{% endif %}">
      <a href="{% url item.url_name %}" style="width: 10rem;">
        <i style="display: flex;justify-content: center;color: #990000;" class="{{ item.icon }} px-2"></i>
        <span style="color: #990000;" class="menu-label">{{ item.name }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}